.el-table {
    background-color: $gray;
    color: $white;

    th,
    tr,
    td {
        background-color: $gray;
        color: $white;
    }
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: $violet;
    color: $white;
}